/******* COLOR PALETTE *******

Primary-Blue: rgb(24, 49, 91)
Gray: rgb(214, 214, 214)
Yellow: rgb(255, 214, 97)
Cark Yellow: rgb(187, 156, 68)

*****************************/

*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

html {
  font-size: 62.5%;
  overflow-x:hidden;
}

body{
  font: normal 400 1.2rem mr-eaves-xl-modern, sans-serif;
  overflow-x:hidden;
}

#main{
  padding-top: 7%;
}

a:link, a:visited{
  text-decoration: none;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@keyframes run{
0% {
  left: -150px;
  transform: translateX(0);
}
100% {
  left: 0;
}
}

.landing_page--header{
  height: 100vh;
  position: relative;
}

.landing_page--header::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right bottom, rgba(24, 49, 91, 0.53), rgba(24, 49, 91, 0.71));
  opacity: .71;
  z-index: -1;
}

.header{
  height: 100vh;
  background-color: linear-gradient(to right bottom, rgba(24, 49, 91, 0.53), rgba(24, 49, 91, 0.71));
  position: relative;
}

.logo-container{
  padding: 5% 0 5% 5%;
  animation: fadein 2s;
}

.logo {
  max-width: 60%;
  display: block;
}

.mobile{
  display: flex;
  color: white;
  flex-direction: column;
}

.navigation-mobile{
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}


.desktop{
  display: none;
}

li{
  display: inline-block;
}

li a:link, a:visited{
  text-decoration: none;
  font-family: sweet-square-pro, sans-serif;
  font-size: 2.5rem;
}

li a.mobile-links:link,
li a.mobile-links:visited{
  font-family: sweet-square-pro, sans-serif;
  font-size: 2.5rem;
  line-height: 4rem;
  color: white;
}
.burger {
  width: 7rem;
  height: 5rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  border-radius: 100%;
  z-index: 101;
  background: transparent;
}

.burger:hover {
  cursor: pointer;
}

.burger span{
  position: relative;
  margin-top: .9rem;
  margin-bottom: .9rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -1.5px;
}
.burger span, .burger span::before, .burger span::after {
  display: block;
  width: 3.2rem;
  height: .4rem;
  background-color: rgb(24, 49, 91);
  transition-duration: 0.3s;
}
.burger span::before, .burger span::after {
  position: absolute;
  content: "";
}
.burger span::before {
  top: -9px;
}
.burger span::after {
  top: 9px;
}
.burger.clicked span {
  background-color: transparent;
}
.burger.clicked span::before {
  transform: translateY(9px) rotate(45deg);
}
.burger.clicked span::after {
  transform: translateY(-9px) rotate(-45deg);
}
.burger.clicked span:before, .burger.clicked span:after {
  background-color: rgb(255, 255, 255);
}

.mobile-menu {
	z-index: 100;
  background-color: rgba(24, 49, 91);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 80px 0;
  overflow-y: auto;
  transform: translateX(-100%);
  transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.mobile-menu.show {
  transform: translateX(0px);
}
.mobile-menu.show ul li.mobile-links {
  transform: translateX(0px);
  opacity: 1;
}

.mobile-menu ul li.mobile-links {
  list-style-type: none;
  margin: 0 auto;
  padding: 0px 40px;
}
.mobile-menu ul li.mobile-links {
  margin-bottom: 10px;
  transform: translateX(40px);
  opacity: 0;
  transition: all 0.3s ease;
}
.mobile-menu ul li.mobile-links:last-of-type {
  margin-bottom: 0px;
}

.header_textbox{
  position: absolute;
  min-width: calc(100% - 20%);
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0%);
  display: flex;
  flex-direction: column;
  color: white;
}

h1{
  font: normal 400 3.5rem sweet-square-pro, sans-serif;
  animation: ease-out run 1.2s;
  position: relative;
}

.tagline{
  padding-top: 3rem;
  font: normal 400 1.8rem sweet-square-pro, sans-serif;
  margin: 0;
  animation: fadein 3s;
}

.scroll {
  position: absolute; bottom: 20px; left: 50%;
  transform: translatex(-50%);
  text-align: center;
  margin: 0 auto;
  z-index: 2;
  display: inline-block;
  color: #fff !important;
  transition: opacity .3s;
}
.scroll:hover {opacity:.5;}

#header a span {
  position: absolute;
  top: -8rem;
  left: 50%;
  width: 40px;
  height: 65px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}
#header a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  animation: sdb9 2s infinite;
  box-sizing: border-box;
}
@keyframes sdb9 {
  0% {transform: translate(0, 0); opacity: 0;}
  40% {opacity: 1;}
  80% {transform: translate(0, 20px); opacity: 0;}
  100% {opacity: 0;}
}

.row>*:not(:last-child){
	margin-bottom: 7%;
}
img{
  max-width: 100%;
}

.row {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.row::after{
  content: "";
  display: table;
  clear: both;
}

.row [class^="col-"]{
  float: none;
}

.about--box{
  max-width: 75%;
  margin: 0 auto;
  padding: 5%;
  background: rgb(214, 214, 214);
}

.image-container, .image-container--two{
  width: 85%;
  padding: 5% 0 10%;
  margin: 0 auto;
}


.services--box{
  max-width: 75%;
  margin: 0 auto;
  padding: 5%;
  background: rgb(214, 214, 214);
}

.composition{
  max-width: 85%;
  padding: 5% 0 10%;
  margin: 0 auto;
  position: relative;
}

.composition_photo {
  width: 70%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 10;
  transition: all .2s;
  outline-offset: 2rem;
}
  .composition_photo--one {
    left: 0;
    top: -5rem;
  }
  .composition_photo--two {
    right:-10rem;
    top: 2rem;
  }
  .composition_photo--three {
    left: 7rem;
    top: 15rem;
  }


h2{
  font: normal 400 2.5rem sweet-square-pro, sans-serif;
  line-height: 2.5rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
  color: rgb(24, 49, 91);
}

p{
  font: normal 400 1.7rem mr-eaves-xl-modern, sans-serif;
  line-height: 2.3rem;
}
.decoration-container {
  position: relative;
  padding-bottom: 20%;
}

.decoration-container--two, .decoration-container--three{
  display:none;
}

.decoration {
    position: absolute;
    right: -20px;
}

.featured{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.feature-box{
  width: 28rem;
  height: 40rem;
  border: 1px solid rgb(255, 214, 97);
  padding: 5% 3%;
  text-align: center;
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: .2s ease-in;
}
.feature-box:hover{
  border: 1px solid rgba(24, 49, 91);
  transition: .2s ease-in;
  transform: translateY(-50px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15)
}

.services-box {
  width: 20rem;
  height: 17rem;
  border: 1px solid rgb(255, 214, 97);
  padding: 2rem 1rem;
  text-align: center;
  margin-bottom: 7%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.services-box:not(:last-child){
  margin-right: 1%;
}

a.box-links:link, a.box-links:visited{
  color: rgb(187, 156, 68);
  text-decoration: none;
  font: normal 400 2rem sweet-square-pro, sans-serif;
  cursor: pointer;
  letter-spacing: .1rem;
}


h3{
  font: normal 400 2.3rem sweet-square-pro, sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: rgb(24, 49, 91);
}
.feature-box--icon {
  font-size: 5rem;
  margin:1.5rem auto;
  background-image: linear-gradient(to right, rgba(24, 49, 91), rgba(24, 49, 91, 0.8));
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}

.services-box--icon {
  font-size: 5rem;
  margin:1.5rem auto;
  background-image: linear-gradient(to right, rgba(24, 49, 91), rgba(24, 49, 91, 0.8));
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}

.text {
    font: normal 400 2.5rem sweet-square-pro, sans-serif;
    text-align: center;
    color: rgb(24, 49, 91);
}

.button {
    margin: 5rem auto;
    display: block;
    background: rgb(24, 49, 91);
    width: 20rem;
    text-align: center;
    color: rgb(255, 214, 97);
    padding: 2rem 1.5rem;
    text-transform: uppercase;
    font: normal 400 1.7rem sweet-square-pro, sans-serif;
    transition: .4s;
}

.button:hover{
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-5px);
}

.button:active{
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(0px); }
}

.button:link, .button:visited{
  font: normal 400 1.7rem sweet-square-pro, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: rgb(255, 214, 97)!important;
}

.footer-container {
  background: rgb(214, 214, 214);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0 0;
}

.footer-container ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
}

.footer-container li{
  padding: .2rem 0;
}

a.footer-links:link, a.footer-links:visited{
  font: normal 400 1.6rem sweet-square-pro, sans-serif;
  color: rgb(24, 49, 91);
}

.utility-padding-bottom{
  margin-bottom: 2rem;
}

.composition{
  display: none;
}

.utility-margin-top{
  margin-top: 0 !important;
}

.offerings{
  width: 100%;
  text-align: center;
  margin-bottom: 7rem;
}

.services-box h3{
  font-size: 1.5rem;
}

.more{
  margin: 0 auto 7% !important;
}

.more-container {
    padding: 0 5%;
    word-wrap: break-word;
}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 75rem;
    margin: 7rem auto;
    font: normal 400 1.7rem mr-eaves-xl-modern, sans-serif;
    line-height: 2.3rem;
    padding: 1rem;
}

.form-section {
  display: flex;
  flex-direction: column;
  padding: 2%;
}

.name, .email{
  width: 100%;
}

.interest, .message{
  width: 100%;
}

input, select, textarea{
  font: normal 400 1.7rem mr-eaves-xl-modern, sans-serif;
  line-height: 2.3rem;
  padding: .5rem;
  border: solid rgb(24, 49, 91) .1rem;
}

.navigation-desktop{
  display: none;
}

.locations{
  background: rgb(24, 49, 91);
  display: flex;
  justify-content: center;
  padding: 5%;
  flex-direction: column;
  align-items: center;
}

.locations img{
  animation: fadein 2s;
}

.locations h2{
  color:white;
  padding-bottom: 5%;
}

a, a > span {
  position: relative;
  color: inherit;
  text-decoration: none;
  line-height: 24px;
}
a:before, a:after, a > span:before, a > span:after {
  content: '';
  position: absolute;
  transition: transform .5s ease;
}

.contact h2{
  text-align: center;
}

.hover-3 {
  display: inline-flex;
  padding-bottom: 10px;
  overflow: hidden;
}
.hover-3:before {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: rgb(255, 214, 97);
  transform: translateX(-100%);
}
.hover-3:hover:before {
  transform: translateX(0);
}
/****************************
        MEDIA QUERIES
****************************/

@media(min-width: 300px) and (max-width:550px){
  #header a span{
    top: -25rem;
  }
}

@media(min-width: 500px){
  h1{
    font: normal 400 5rem sweet-square-pro, sans-serif;
  }

  .tagline{
    padding-top: 3rem;
    font: normal 400 2.8rem sweet-square-pro, sans-serif;
  }

  .services-box:hover{
    border: 1px solid rgba(24, 49, 91);
    transition: .2s ease-in;
    transform: translateY(-15px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15)
  }

  .footer-container ul{
    display: flex;
    max-width: 35rem;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 2% 0;
    justify-content: center;
    margin: 0 auto;
  }

  .footer-container li{
    padding: .2rem 1rem;
  }

  .name, .email{
    flex-basis: 46%;
    padding: 0 2%;
  }

}

@media(min-width: 702px){

  .header_textbox{
    top: 25%;
  }

  h1{
    font: normal 400 6rem sweet-square-pro, sans-serif;
  }

  .tagline{
    padding-top: 3rem;
    font: normal 400 3rem sweet-square-pro, sans-serif;
  }

  .row{
    display: block;
    max-width: 95%;
  }

  .row [class^="col-"]:not(:last-child){
    margin-right: 3rem; }

  .row [class^="col-"]{
    float: left;
  }

  .row .col-1-of-2 {
    width: calc((100% - 3rem) / 2);
  }

  .row:not(:last-child){
    margin-bottom: 8rem;
  }
  .about--box{
    max-width: 100%;
  }

  .services--box{
    max-width: 100%;
  }
  .image-container{
    width: 100%;
    padding: 0;
    position: relative;
  }

  .composition{
    max-width: 100%;
  }

  .composition_photo:hover{
    transform: scale(1.05);
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
    z-index: 20;
    transform: scale(1.1);
  }

  .image-container img{
    position: absolute;
    top: 15rem;
  }

  .decoration-container{
    display: none;
  }

  .decoration-container--two{
    display: block;
    position: relative;
    top: 40rem;
    right: 29rem;
    z-index: -99;
  }

  .featured{
    margin: 25% 0 7%;
  }

  .image-container--two{
    position: relative;
  }
}

@media (min-width: 829px){
  .decoration-container--two{
    top: 35rem;
    right: 35rem;
  }
  .image-container img{
    position: absolute;
    top: 10rem;
  }
  .featured{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    max-width: 115rem;
    margin: 20% auto 0;
  }

  .utility-max-width{
    max-width: 100rem !important;
  }

  .feature-box {
      margin: 2% 2% 6%;
      padding: 2% 2%;
  }

  .footer-container ul{
    display: flex;
    max-width: unset;
    flex-direction: row;
    flex-wrap: no;
    align-items: center;
    padding: 2% 0;
    justify-content: center;
    margin: 0 auto;
  }

  .footer-container li{
    padding: .2rem 1rem;
  }

  .text {
      font: normal 400 4rem sweet-square-pro, sans-serif;
  }
}

@media(min-width: 942px){

  html{
    font-size: 75%;
  }

  .logo{
    max-width: 80%;
  }

  .logo-container{
    padding-top: 4%;
    padding-bottom: 1%;
    padding-left: 2%;
  }

  .navigation-mobile{
    display: none;
  }

  .burger{
    display: none;
  }

  .navigation-desktop{
    background: rgba(255, 255, 255, 0.57);
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  li a.desktop-links:link,
  li a.desktop-links:visited{
    font-size: 1.6rem;
        color: rgb(24, 49, 91);
  }

  .desktop li:not(:last-child){
    padding-right: 3.5%;
    padding-bottom: 5%;
  }

  .desktop{
    display: flex;
    width: 50%;
    flex-basis: 70%;
    justify-content: flex-end;
    list-style: none;
    padding: 5% 2% 1% 0;
  }

  .image-container img{
    position: absolute;
    top: 10rem;
  }

  .row [class^="col-"]:not(:last-child){
    margin-right: 8rem; }

  .row [class^="col-"]{
    float: left;
  }

  .row .col-1-of-2 {
    width: calc((100% - 8rem) / 2);
  }

  .decoration-container--two{
    top: 35rem;
    right: 32rem;
  }
}

@media(min-width: 1050px){
  .decoration-container--two{
    top: 35rem;
    right: 35rem;
  }
}

@media(min-width: 1199px){
  .logo{
    max-width: 100%;
  }

  li a.desktop-links:link,
  li a.desktop-links:visited{
    font-size: 2.3rem;
        color: rgb(24, 49, 91);
  }

  h1{
    font: normal 400 6.5rem sweet-square-pro, sans-serif;
    line-height: 7.5rem;
  }

  .tagline{
    padding-top: 3rem;
    font: normal 400 3rem sweet-square-pro, sans-serif;
  }

  .decoration-container--two{
    top: 35rem;
    right: 35rem;
  }

  .about{
    max-width: 90rem;
    margin: 0 auto;
  }

  .composition{
    display: block;
  }

  .image-container--two{
    display: none;
  }

}

@media(min-width: 1350px){

  .about--box{
    position: relative;
  }

  .decoration-container--three{
    display: block;
    position: absolute;
    z-index: -99;
    top: -18rem;
    left: -8rem;
  }

  .featured{
    margin-top: 17%;
  }
}
